.profile__image {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin: 0;
  height: 120px;
  width: 120px;
  margin-right: 30px;
}

@media screen and (max-width: 934px) {
  .profile__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 700px) {
  .profile__image {
    margin: 0;
    margin-bottom: 22.25px;
  }
}