.element__title {
  margin-right: 15px;
  margin-left: 21px;
  margin-top: 25px;
  margin-bottom: 31px;
  padding: 0;
  display: flex;
  flex-direction: row;
  line-height: 23px;
  justify-content: space-between;
}