.header {
  max-width: 880px;
  height: 74px;
  width: 100%;
  margin: auto;
  padding: 0;
  margin-top: 45px;
  border: 0px solid #545454;
  border-bottom-width: 1px;
}

@media screen and (max-width: 934px) {
  .header {
    margin-top: calc((100vw - 320px)/(934 - 320)*(45 - 28) + 28px);
    height: calc((100vw - 74px)/(934 - 74)*(74 - 56) + 56px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    margin-top: 28px;
    height: 56px;
  }
}
