.header {
  max-width: 880px;
  width: 100%;
  margin: auto;
  padding: 0;
  margin-top: 45px;
}

@media screen and (max-width: 934px) {
  .header {
    margin-top: calc((100vw - 320px)/(934 - 320)*(45 - 28) + 28px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    margin-top: 28px;
  }
}
