.profile__block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .profile__block {
    justify-content: center;
    text-align: center;
    margin: auto 0;
    max-width: 263px;
  }
}

@media screen and (max-width: 320px) {
  .profile__block {
    margin-right: 19px;
  }
}