.popup__hr {
  margin: 0;
  margin-top: 11px;
  padding: 0;
  color: #545454;
  max-width: 358px;
  height: 0;
  opacity: 0.2;
  border: 0.5px solid #000000;
}

@media screen and (max-width: 680px) {
  .popup__hr {
    max-width: 238px;
  }
}