.info__edit {
  width: 24px;
  height: 24px;
  margin: auto;
  padding: 0;
  background-color:  #000000;
  background-image: url("../../../images/pen.png");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
}