.profile__info {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 934px) {
  .profile__info {
    flex-direction: column;
  }
}