.footer {
  width: 100%;
  max-width: 880px;
  padding: 0;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 98px;
}

/* @media screen and (max-width: 918px) {
  .footer {
    margin-bottom: calc((100vw - 320px)/(918 - 320)*(60 - 36) + 36px);
    margin-top: calc((100vw - 320px)/(918 - 320)*(98 - 48) + 48px);
  }
} */

@media screen and (max-width: 320px) {
  .footer {
    margin-bottom: 36px;
    margin-top: 48px;
  }
}