.footer {
  max-width: 880px;
  padding: 0;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 98px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-bottom: 36px;
    margin-top: 48px;
  }
}